{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h2>{{ 'nav_crypto_adv'|trans }}</h2>
            <iframe width="784" height="441" src="https://www.youtube.com/embed/NrmaqIvtCh8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <h3>Keep Crypto. Use Cash.</h3>
            <br><a href="https://track.youhodler.com/click?offer_id=2&pid=621&sub2=cale.es&l=1591352095">Register an account in YouHodler to earn interest on your Crypto assets</a><br><br>

            <small>We use <a href="{{ path('about-ethereum') }}">Ethereum</a> and keep it on YouHodler to finance <span class="cale" style="font-weight:bold">CALE.es</span></small>
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>

    {% if adsense_active %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
{% endblock %}