{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px;
            width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3><span class="cale" style="font-weight:bolder">EPAPERS</span> for sale</h3>
    <h5>Practical uses of the ESP32 WiFi epaper display:</h5>
        <ul style="font-weight:bolder">
            <li>Meeting room sign that updates every hour showing next meetings and attendees</li>
            <li>Living picture, showing weather forecasts and event calendars</li>
            <li>To show rotating
                <a href="https://superrare.co" target="_blank">digital art using our web-service Gallery module</a></li>
            <li>Use sensors, very low power, like Real-Time-Clock plus CO2, Temperature, and Humudity (Sensirion SCD4X series) and
            make larger panels for Shops, Gyms, Medical centers and any other targets</li>
        </ul>
    <h2 style="color: darkred">On SALE! All prices include EU shipping.</h2>
    Additional costs apply if they are sent to any country outside EU (Like England for example. Sorry guys you voted for it!)
    <br>
    <h3>Offer extended till end of June 2023. There are discounts for <span class="cale" style="font-weight:bolder">CALE</span> registered users and collaborators with the project</h3>

    <p>In order to create our epaper component <span class="cale" style="font-weight:bolder">CALE-IDF</span> we purchased some epapers that now are hanging in our studio and we
        would like to sell some of them. The prices are shown in €uros but you can also pay in Ethereum, just sending the equivalent offical change-rate at the day of purchase, but we accept
        <a href="https://www.paypal.com/paypalme/fasani" target="_blank">payments also with paypal</a> or wire transfers. The price includes shipping and customization with
        your Screen in CALE and your WiFi settings so you can just open it at home and see it working.
   </p>
    <div class="row">

        <div class="col-md-6 col-xs-12"><h4>Ethereum payment address:</h4>
            <textarea rows="1" class="form-control">{{ cale_eth_address }}</textarea><br>
            <p class="text-right">You can simply scan the QR Address with your wallet <span class="glyphicon glyphicon-arrow-right"></span></p>
        </div>
        <div class="col-md-6 col-xs-12" >
            <img width="140" style="margin: 0.8em" src="/img/www/service/cale-eth-qr.png">
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">12.48 inches 1304x984 only black</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <center style="color:red;font-weight: bold">SOLD!</center>
                        <img src="/assets/display/wave12i48.jpg">
                        <div class="row text-right" style="margin-right: 4em">
                            <h3>PRICE: <s>320€</s> <span style="color: darkred">SOLD!</span></h3>
                            <strong><span style="color:darkred" >Will miss it. Is very hard to get one like this again!</span></strong>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="margin-top: 2em">
                        <ul>
                            <li><b>Model:</b>
                                <a title="Technical specifications" href="https://cale.local/epaper/en/Waveshare/18">Waveshare-12</a> - Dalian Good Display with Waveshare added electronics</li>
                            <li><b>Refresh time:</b> Aprox. 7 seconds</li>
                            <li>Hacked so it can run with an Espressif ESP32-WROVER (With SPI external RAM)</li>
                            <li>Last unit available!</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">4" 640x400 7 colors from Waveshare</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <img src="/img/www/service/buy/4-inch-7-color.jpg">

                        <div class="row text-right" style="margin-right: 4em">
                            <h3>PRICE: <s>130€</s> <span style="color: darkred">On SALE: 95€</span></h3>

                            <span style="color:darkred" >1 sold!</span>  <strong>1 left in stock</strong>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="margin-top: 2em">
                        <ul>
                            <li><b>Model:</b>
                                <a title="Technical specifications" href="https://cale.es/epaper/en/Waveshare/22">wave4i7color</a></li>
                            <li><b>Refresh time:</b> Aprox. 10 seconds</li>
                            <li><b>Size:</b> 88 x 55 mm</li>
                            <li><b>Communication protocol:</b> Serial Peripheral Interface (SPI)</li>
                            <li>Only one unit available!</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">5.83 600*448 black/red</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="row" style="height: 523px">
                            <img src="/img/www/service/5-83-front.jpg" alt="5.83 epaper" id="e583">
                        </div>
                        <div class="row text-center">
                            <img width="100" src="/img/www/service/5-83-front.jpg" onclick="change_img('e583','5-83-front.jpg')" alt="5.83 epaper front">
                            <img width="100" src="/img/www/service/5-83-back.jpg" onclick="change_img('e583','5-83-back.jpg')" alt="5.83 epaper back-side">
                            <img width="100" src="/img/www/service/5-83-side.jpg" onclick="change_img('e583','5-83-side.jpg')" alt="5.83 epaper">
                        </div>
                        <div class="row text-right" style="margin-right: 4em">
                        <h3>PRICE: <s>120€</s> <span style="color: darkred">On SALE: 105€</span></h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="margin-top: 2em">
                        <ul>
                            <li><b>Model:</b>
                                <a title="Technical specifications" href="https://github.com/martinberlin/cale-idf/wiki/Model-color-gdew0583z21.h">gdew0583z21.h</a> - Dalian Good Display</li>
                            <li><b>Refresh time:</b> Aprox. 10 seconds</li>
                            <li><a href="https://www.youtube.com/watch?v=EQJcNDB7EoQ">Refresh video</a></li>
                            <li><b>Size:</b> 145 x 145 x 16 mm</li>
                            <li><b>Communication protocol:</b> Serial Peripheral Interface (SPI)</li>
                            <li>Comes with a Reset button</li>
                            <li>Comes ultra-low deepsleep consumption board from Laska KIT (Needs serial UART with 4 pins, USB is just charging)</li>
                            <li>4000 mA battery. Lasts for months with a refresh per hour</li>
                            <li>Last available. Order early!</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        {#<div class="panel panel-default">
                    <div class="panel-heading">4.2" 400*300 black/red</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <img src="/img/www/service/buy/4-2-front.jpg">

                                <div class="row text-right" style="margin-right: 4em">
                                    <h3>PRICE: <s>120€</s> <span style="color: darkred">On SALE: 95€</span></h3>
                                    <span style="color:darkred" >1 sold!</span>  <strong>1 left in stock</strong>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12" style="margin-top: 2em">
                                <ul>
                                    <li><b>Model:</b>
                                        <a title="Technical specifications" href="https://github.com/martinberlin/cale-idf/wiki/color-GDEW0583Z83-648x480-B%7CR">GDEW0583Z83</a> - Dalian Good Display</li>
                                    <li><b>Refresh time:</b> Aprox. 7 seconds</li>
                                    <li><a href="https://www.youtube.com/watch?v=vvsPnjLEW0k">Refresh video</a></li>
                                    <li><b>Size:</b> 100 x 125 x 21 mm</li>
                                    <li><b>Communication protocol:</b> Serial Peripheral Interface (SPI)</li>
                                    <li>Last unit available!</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                #}
        <h4>Handcrafted and unique</h4>
        <b>All this epapers housings are designed by us, they are built by hand with care, and attention to detail. </b>
            They are tested and shipped with printed documentation explaining how is the wiring made in case you want
            to flash a different firmware to the esp32 controller. They also come with a battery that can work for about a month without being recharged. They can be recharged just leaving it connected a full night
        with a mini-USB to work for another long period. All of them have either a on/off switch or a reset button.
        They can also be shipped with your desired WiFi access point and password, pointing to your Screen in <span class="cale" style="font-weight:bolder">CALE.es web-service</span>, provided you have an account with us.

        <h4>How to make a purchase</h4>
        <p>Just register and contact us using the <b>User <span class="glyphicon glyphicon-arrow-right"></span> Get Support</b>
            option and let us know what epaper you want to purchase. <br>
            We will reserve it for you. The sale is closed when we receive the payment in any of the offered channels <b>(Ethereum transfer, paypal, wire-transfer)</b><br>
        </p>
        <h4>Customized for you</h4>
        <p>
            Before sending it to you we will customize the Firmware, with your WiFi access point and Screen, and also the update frequency (ex. Every hour).<br>
            When the package arrives you can switch it on and see your Screen rendered. Without complications and pre-configured.
            But if you want to hack your epaper and flash it with customized firmware, we will also send you an A4 printed page, with the wiring details between the ESP32 and the eink display.
            That way you can use any of our Firmware flavours, <span class="cale" style="font-weight:bolder">CALE-IDF</span> or the Arduino-esp32 version, and make all the custom modifications
            that you wish.
        </p>
        <h4>A video preview</h4>
        <div class="row">
            <div class="col-md-6">
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Found some minutes to push yesterday keyboard example (preview in video) <br>Code: <a href="https://t.co/zFUYfBqKU7">https://t.co/zFUYfBqKU7</a><br>Nice to add one in the fridge and make a reminder message <a href="https://t.co/ncooRDKQ4c">pic.twitter.com/ncooRDKQ4c</a></p>&mdash; Martin the Creator (@martinfasani) <a href="https://twitter.com/martinfasani/status/1318850669525274626?ref_src=twsrc%5Etfw">October 21, 2020</a></blockquote>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">This weekend I&#39;m going to work adding the 4.2&quot; 400*300 black/red from <a href="https://twitter.com/GoodDisplayCN?ref_src=twsrc%5Etfw">@GoodDisplayCN</a> <br>The 5.83&quot; 600*448 pixels is already added and I&#39;m documenting what represents each byte in the buffer<a href="https://t.co/VshfYSpygK">https://t.co/VshfYSpygK</a> <a href="https://t.co/UABZexSm9v">pic.twitter.com/UABZexSm9v</a></p>&mdash; Martin the Creator (@martinfasani) <a href="https://twitter.com/martinfasani/status/1306253411244027905?ref_src=twsrc%5Etfw">September 16, 2020</a></blockquote>
            </div>
            <div class="col-md-6" style="margin-top: 2.94em">
            <blockquote class="twitter-tweet" data-theme="light"><p lang="en" dir="ltr">Small epaper gallery is still in place waiting for <a href="https://twitter.com/Paperino_io?ref_src=twsrc%5Etfw">@Paperino_io</a> visit <a href="https://t.co/wdaPbRTHzY">pic.twitter.com/wdaPbRTHzY</a></p>&mdash; Martin the Creator (@martinfasani) <a href="https://twitter.com/martinfasani/status/1316811968045625345?ref_src=twsrc%5Etfw">October 15, 2020</a></blockquote>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Mounting three <a href="https://twitter.com/GoodDisplayCN?ref_src=twsrc%5Etfw">@GoodDisplayCN</a> <a href="https://twitter.com/hashtag/epaper?src=hash&amp;ref_src=twsrc%5Etfw">#epaper</a> displays for a digital art exhibition in Berlin<br>Powered by our own ESP-IDF component (C++ class is coming)<a href="https://t.co/ybwIjYM85E">https://t.co/ybwIjYM85E</a> <a href="https://t.co/yRaxoo9vxy">pic.twitter.com/yRaxoo9vxy</a></p>&mdash; Martin the Creator (@martinfasani) <a href="https://twitter.com/martinfasani/status/1307710377002754048?ref_src=twsrc%5Etfw">September 20, 2020</a></blockquote>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
        let img_base_path = "/img/www/service/"
        function change_img(id, name) {
           let img = document.getElementById(id)
           img.src = img_base_path+name
            {# console.log(id, img_base_path+name); #}
        }
    </script>

    {% if adsense_active %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Cale vertical -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5919782356383484"
             data-ad-slot="6845528655"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
{% endblock %}