{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-8 col-sm-8 col-xs-12" style="margin-top: -2em">
        <h3>
            <span class="cale" style="font-weight:bold">CALE</span> service has a cost of 3€ monthly (up to 3 Screens)
        </h3>
        <p>This represents about <b>0.10 € per day</b>. It used to be free up to 3 screens but it cannot be like that forever.
            Because is not free for us to maintain server costs and the time we dedicate to create <span class="cale">CALE API and services</span>.
            <br>
            If you need to use more than 3 displays we kindly ask you to support our project as
            <a href="https://github.com/martinberlin/cale-integrations">Github Sponsor</a> with at least 10 u$ per month
            if you use the screen administrator in your office to display the meetings for your business.
            <br>
            We will update your account with a higher number of Screens to display dynamic content and you will get also
            support priority so we can handle any problems that may arise using our service.
        </p>
    </div>

    <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
    <button type="button" class="btn btn-success form-control" onclick="window.location='{{ path('register') }}'">
        Register here</button>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}