{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-8 col-sm-8 col-xs-12" style="margin-top: -2em">
        <h4>
            <span class="cale" style="font-weight:bold">CALE</span> is free to use up to 3 Screens and for personal use
        </h4>

        <p>What is not free for us are server costs and the time we dedicate to maintain <span class="cale">CALE API</span>.
            We kindly ask you to support our project as
            <a href="https://github.com/martinberlin/cale-integrations">Github Sponsor</a> with at least 10 u$ per month
            if you use the screen administrator in your office to display the meetings for your business.
            <br>
            We will update your account with a higher number of Screens to display dynamic content and you will get also
            support priority so we can handle any problems that may arise using our service.
        </p>
    </div>

    <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
    <button type="button" class="btn btn-success form-control" onclick="window.location='{{ path('register') }}'">
        Register here</button>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}