<ul>
    <li><b>I understand that by using this site I will be making calls to external APIs that may have request limits or paid costs in some cases.</b>
        I give my consent so the API credentials such as Key, Oauth tokens and authorization codes will be stored
        in</b> <small>CALE</small> database so we can request information to make your dynamic screens.
            this website has no responsibility or liability for the API calls made to render your screens as they are made in your behalf and with your consent.
    </li>
    <br>
    <li><b>I understand that if I make public or link my screens from other sites or social media there could be an unwanted traffic /abuse and even costs derived from my external API connection usage.
        </b> Again <small>CALE</small> does not have any responsibility or liability since you are in control of what APIs are connected and you decide what to do with your output screen links.
    </li>
    <br>

    <li><b>As the last important point I understand that if in any of my public screens I show personal information that may put other people privacy at stake in any harmful, unrespectful or illegal way,
        </b> <small>CALE</small> reserves the right to terminate your account and disconnect your APIs without any previous advice.
    </li>
</ul>