<ul>
    <li><b>I understand that by using this site I will be making calls to external APIs that may have request limits or paid costs in some cases.</b>
        I give my consent so the API credentials such as Key, Oauth tokens and authorization codes will be stored
        in</b> <small class="cale">CALE</small> database so we can request information to make your dynamic screens.
            This website has no responsibility or liability for the API calls made to render your screens as they are made in your behalf and with your consent.
    </li>
    <br>
    <li><b>I understand that if I make public or link my screens from other sites or social media there could be an unwanted and uncontrolled traffic flow and even costs derived from my external API connection usage.
        </b> Again <small class="cale">CALE</small> does not have any responsibility or liability since you are in control of what APIs are connected and you decide what to do with your output screen links.
    </li>
    <br>

    <li><b>As the last important point I understand that if in any of my public screens I show personal information that may put other people privacy at stake in any harmful, unrespectful or illegal way,
        </b> <small class="cale">CALE</small> reserves the right to terminate your account and disconnect your APIs without any previous advice.<br>
        Note that we add this point since there are shared calendars or APIs that may show personal information, such as full names,
        addresses and any other other sensible data where third persons can be exposed if you display your Screens in public places.
    </li>
    This agreement is also in accordance with our <a target="_blank" href="{{ path('privacy-policy') }}">Privacy policy</a>.
</ul>
