<ol>
    <li><b>I understand that by using this site I will be making calls to external APIs that may have request limits or paid costs in some cases.</b>
        I give my consent so the API credentials such as Key, Oauth tokens and authorization codes will be stored
        in</b> <small class="cale">CALE</small> database so we can request information to make your dynamic screens.
            This website has no responsibility or liability for the API calls made to render your screens as they are made in your behalf and with your consent.
    </li>
    <br>
    <li><b>I understand that if I make public or link my screens from other sites or social media there could be an unwanted and uncontrolled traffic flow and even costs derived from my external API connection usage.
        </b> Again <small class="cale">CALE</small> does not have any responsibility or liability since you are in control of what APIs are connected and you decide what to do with your output screen links.
    </li>
    <br>

    <li><b>I understand that if in any of my public screens I show personal information that may put other people privacy at stake in any harmful, unrespectful or illegal way,
        </b> <small class="cale">CALE</small> reserves the right to send you an Email alert and if there is no prompt response to
        make your account inactive in case we receive a complaint.<br>
        We add this point since there are shared calendars or APIs that may show personal information, such as full names,
        addresses and any other other sensible data where third persons can be exposed if you display your Screens in public places. Please make sure that any information
        shown in public places is compilant with your country privacy policies.
    </li>
</ol>
<h4>Fair account usage</h4>
<b>Please note that independently of your Email communication settings, even if you choose not to
receive communications from us, we may contact you if there is a breach of our fair usage agreement.</b>
Alerts will be sent only once and there is no action taken in the 24 hours
we may make temporarily your account inactive till the issue is solved. <br>Keep in mind that we do not have unlimited server resources so
this points enable us to have free accounts existence under a fair use agreement.

<ul>
    <li><b>We provide this service free of charge in good faith provided that there is not a usage abuse.</b>
        For example we cannot afford to have users that are requesting an image every second, since we are paying for the traffic as well,
        and this service abuse reduces the speed for everyone else making a request.</li><br>
    <li><b>We will to keep this web-service free of advertising and gratis for personal use</b> provided that we have enough
    financial and timely resources. Guaranteed till end of 2021 (and we hope more)</li><br>
    <li>If there is not any login or device image request in a period of 4 months you will receive an unique Email alert about account inactivity. After 2 weeks more of inactivity your account will be deleted.<br>
    </li>
    <li>Please note that we are not going to send you a email validation confirmation like other sites, but we expect you use a valid email and <b>do not accept fake emails like mailinator</b> or similar sites, if you
    used one of this please don't go further in this registration. Fake emails accounts will be deleted without any prior advice.
    </li>
</ul>

We may update this agreement two times a year to reflect any changes related to our service. This agreement is also in accordance with our <a target="_blank" href="{{ path('privacy-policy') }}">Privacy policy</a>.
