<ul>
    <li><b>I understand that by using this site I will be making calls to external APIs that may have request limits or paid costs in some cases.</b>
        <small>CALE</small> has no responsibility or liability for the API calls made to render your screens as they are made in your behalf and with your consent.</li>
    <li><b>I understand that my API credentials such as Key, Oauth tokens and authorization codes will be stored in</b> <small>CALE</small> <b>database with my consent so we can request information to make your dynamic screens.</b></li>
    <li><b>I understand that if I make public or link my screens from other sites or social media there could be an unwanted traffic /abuse and even costs derived from my external API connection usage.</b> Again <small>CALE</small> does not have any responsibility or liability since you are in control of what APIs are connected and you decide what to do with your output screen links.</li>
    <li><b>As the last important point I understand that if in any of my screens I show personal information that may put people privacy at stake in any harmful, unrespectful or illegal way,
        </b> <small>CALE</small> reserves the right to terminate your account and disconnect your APIs without any previous advice.
        This applies to shared calendars and any other API contents that may contain sensible personal information such as
        medical appointments or private details that other parties in same event would not like revealed as for any racial, misogynist or discriminatory content published in any public screen.</li>
</ul>
Please use the APIs output information responsibly and if possible only for your personal use.
You may share the screen output links but by doing so you are fully responsible in what to share and where you share it.