<div id="myCarousel" class="carousel slide" data-ride="carousel" data-keyboard="true" data-pause="hover" data-interval="7000">
    <ol class="carousel-indicators">
        <li data-toggle="tooltip" data-title="Download Native JavaScript for Bootstrap" data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-toggle="tooltip" data-title="Getting started with Native JavaScript" data-target="#myCarousel" data-slide-to="1"></li>
        <li data-toggle="tooltip" data-title="HTML5 inside" data-target="#myCarousel" data-slide-to="2"></li>
        <li data-toggle="tooltip" data-title="Why BSN?" data-target="#myCarousel" data-slide-to="3"></li>
        <li data-toggle="tooltip" data-title="Scroll To Carousel" data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="item-bg bg-primary"></div>
            <div class="container">
                <div class="carousel-caption slide">
                    <h2>CALE stands for Low Enegy Eink Calendar</h2>
                    <p>But is actually more than a Calendar. Is a dynamic way to organize and fetch content from different APIs including
                    shared calendars, weather, todo lists and any App that increases your productivity. It reads, combines their contents,
                    and prepares a Bitmap to read from the Eink panels</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-pink"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Support for ESP32 and ESP8266</h2>
                    <p>Both Espressif flagship chips are supported. The Firmware is easy to install and open source, modify it at will, make it yours and count with our support</p>
                    <p>
                        <a class="btn btn-lg btn-default btn-empty" href="https://github.com/martinberlin/eink-calendar" rel="noreferrer" target="_blank" role="button">Get CALE Firmware</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-indigo"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Bootstrap and native Javascript inside</h2>
                    <p>This configurator backend has been developed for today's standards, for a workflow careless about legacy browsers, with a special care for usability</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-purple"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Are you interested in making one?</h2>
                    <p>Check our project in Hackaday and read about the requirements. Pick a model and built it just for under 50€ getting a nice Eink screen and soldiering just 8 cables and an optional button<br>
                        <i>No time?</i>
                        No problem, just <a href="https://twitter.com/martinfasani" target="_blank">get in touch</a> and we will build it for you!</p>

                    <p><a class="btn btn-lg btn-default btn-empty" rel="noreferrer" href="https://hackaday.io/project/169086-cale-low-energy-eink-wallpaper" target="_blank" role="button">Build one!</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-red"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Get ready for a new generation of low consumption real time devices</h2>
                    <p>Built securely and transparent, without advertising, without backdoors and where you can see all the code being use</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>