<div id="myCarousel" class="carousel slide" data-ride="carousel" data-keyboard="true" data-pause="hover" data-interval="7000">
    <ol class="carousel-indicators">
        <li data-toggle="tooltip" data-title="Low Energy consumption" data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-toggle="tooltip" data-title="ESP32 or 8266" data-target="#myCarousel" data-slide-to="1"></li>
        <li data-toggle="tooltip" data-title="Configurator for multi-screens" data-target="#myCarousel" data-slide-to="2"></li>
        <li data-toggle="tooltip" data-title="Try it?" data-target="#myCarousel" data-slide-to="3"></li>
        <li data-toggle="tooltip" data-title="Keeping you on track" data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="item-bg bg-primary"></div>
            <div class="container">
                <div class="carousel-caption slide">
                    <h2>CALE stands for Low Enegy Eink Calendar</h2>
                    <p>Is a dynamic way to organize and fetch content from different APIs including
                    shared calendars, weather, todo lists and any applications that increases your productivity.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-pink"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Support for ESP32 and ESP8266</h2>
                    <p>Both Espressif flagship chips are supported.<br>
                        The Firmware is easy to install, tree and open source. It downloads the api contents that CALE INTEGRATOR
                     prepares with your customized design and updates the Epaper each hour</p>
                    <p>
                        <a class="btn btn-lg btn-default btn-empty" href="https://github.com/martinberlin/eink-calendar" rel="noreferrer" target="_blank" role="button">Get CALE Firmware</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-indigo"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>An user friendly advanced configurator for multiple screens</h2>
                    <p>This configurator backend has been developed for today's standards, for a workflow careless about legacy browsers, with a special care for usability</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-purple"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>Would you like to try one?</h2>
                    <p>Check our project in Hackaday and read about the requirements.
                        Pick a model and built it just for under 50€ getting a 400*300 Eink screen and connecting just 8 cables<br>
                        <i>No time?</i>
                        No problem, just <a href="https://twitter.com/martinfasani" target="_blank">get in touch</a> and we will build it for you!</p>

                    <p><a class="btn btn-lg btn-default btn-empty" rel="noreferrer" href="https://hackaday.io/project/169086-cale-low-energy-eink-wallpaper" target="_blank" role="button">Build one!</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-bg bg-red"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h2>A low consumption real time device to keep you on track</h2>
                    <p>Built securely and transparent, without advertising, without backdoors and where you can see all the code being used.<br>
                    Hacker friendly but usable by non-geeks</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>