{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>

    {# Event snippet for Register an account conversion page #}
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-1065885836/ANM1CO-I08oBEIzBoPwD'});
    </script>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="row" style="margin-top: 40px">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <h3>Thanks for registering in <span class="cale" style="font-weight:bold">CALE</span></h3>
            <b>Two important things after login in the first time:</b>
            <ul>
                <li>You need to create an username and accept our user agreement as starters</li>
                <li>After adding APIs to the mix, you need to create a Screen, and associate a display to it (epaper or TFT)</li>
                <li>Only when this 2 important points are done you can add the configured APIs to your displays using the Screen partials functionality</li>
            </ul>
            <p>Additionally you may check the <a href="{{ path('apis') }}">API section</a> to see the ones that are ready to be integrated.</p>

            <div style="height: 40px"></div>
            <a class="btn btn-primary" href="{{ path('login') }}">Access the backend area</a>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}