{% extends '/base.html.twig' %}

{% block body %}
    <div class="row" style="margin-top: 40px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Thanks for registering with us</h3>
            <p>You will be informed as soon as the screen configurator is ready to be used.
            Login is active, but until some weeks, I cannot guarantee that things will work fully like expected.

            Please bear with us in this test period. Thanks!<br>
            Martin</p>

            <div style="height: 40px"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}