{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-12" style="margin-top: -2em">
        <div class="panel panel-default" style="margin-top: 1em">
            <div class="panel-heading">Quick access:</div>
            <div class="panel-body">
                <ul>
                    <li><a href="#blue">Configuring WiFi over Bluetooth</a></li>
                </ul>
            </div></div>

        <h2>
            <span class="glyphicon glyphicon-play-circle"></span>
            Get started
        </h2>

        <h3>We are working in a easy way to setup your E-Ink directly with Bluetooth
        </h3>
        <p>But in this early stage is not yet ready to be delivered since we need more time to test
            it and make it user friendly.
            It will be available in April/May 2020.</p>

        <h3>1. <a href="{{ path('register') }}">Register on <span class="cale">CALE</span></a> and create a demo Screen</h3>
        <p>Add one API like Google Calendar or Timetree that have easy configuration. Add one
        Screen with some test display and render this to see your preview. In Screen config
        you can easily copy the two lines that are needed for point 3.</p>

        <h3>2. Get your Hardware gear</h3>
        <p><a href="{{ path('displays-eink') }}">One E-Ink plus any ESP32</a>. If you want to
        test it fast without wiring just get an E-Ink with ESP32 module like TTGO T5 to
        easily test it without needing to build it.</p>

        <h3>3. Download and compile the Firmware</h3>
        <p><a href="{{ path('firmware') }}">Configuration and compiling are explained here</a>.
        Here you can add in the Firmware config the two lines that reference your Screen from
        point 1.</p>

        <h3>4. Run CALE</h3>
        <p>At this point your E-Ink client should be connected with our CALE server. Just
        play around, add new sections/APIs, reset and test how it looks. In step 3 you can
        decide what is the refresh </p>

        <a id="blue"></a><br>
        <h3>
            Configuring WiFi over Bluetooth
        </h3>
        <p>When we have ready made CALE fully build E-Inks the idea is to make your
        life easier configuring this. You will get a model with an easy one page instruction
        manual that explains you how to set this up yourself. The idea is to make it
            configurable using an Android Application</p>
        <img src="/assets/svg/cale-bluetooth-conf.svg"><br>

        <h3>There is a branch ready to be tested in <span class="cale">CALE</span> Repository</h3>
        <h4><a href="https://github.com/martinberlin/eink-calendar/tree/cale_ble">https://github.com/martinberlin/eink-calendar/tree/cale_ble</a> - cale_ble branch</h4>
        <br><br>
    <p>The Android application is already sent to the Play store for approval so it will be ready after April 10.
    Please use our <a href="https://play.google.com/store/apps/details?id=io.cordova.udpx&hl=en" target="_blank">application UDPX</a>
        to send the Bluetooth configuration to the device.</p>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}