{% extends '/base.html.twig' %}
{% set bmp_800_demo = 'https://img.cale.es/bmp/cale_www/5f927722b40d9' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="text-center" style="margin-top: -2em">
    <h3><span class="cale">API Mashup creator for your WiFi displays</span></h3>
    <h4 color="red">
        <span class="cale" style="font-weight:bold">CALE</span> is stopping payment methods 20 Dec. 2025 and it's starting a close down service operations end of January.
    </h4>
        <img src="https://img.cale.es/jpg/carlosfasani/5e5ab5953a441" alt="SCD40 sensor data chart">
        <small>SCD40 ambient temperature, humidity and CO2. Arenys d'Mar</small><br>

        <h2 style="text-weight:bold">
            We strongly recommend you to use the professional service of our friends at <a href="https://usetrmnl.com">TRMNL</a> instead.
        </h2>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
    <script type="text/javascript" src="/js/tracking/analytics-html5-video.js"></script>
    <script>
        var videoId = document.getElementById('index')
        if (videoId) {
            document.addEventListener('DOMContentLoaded', init, false)
            var videoTitle = videoId.getAttribute('title')
        }
    </script>
{% endblock %}