{% extends '/base.html.twig' %}

{% block stylesheets %}
    {% include "/partials/adsense_js.html.twig" %}
{% endblock %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-12" style="margin-top: -2em">
        <h3>
            <span class="glyphicon glyphicon-play-circle"></span>
            Get started
        </h3>
        <h4>Watch this video below if you want to get a grasp from the Firmware and setup process</h4>
        <iframe width="100%" height="560" src="https://www.youtube.com/embed/7Sal9Ii7H2U" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <h3><strong>Compile the latest Firmware using ESP-IDF</strong></h3>

        <h3>1. <a href="{{ path('register') }}">Register on <span class="cale" style="font-weight: bolder">CALE</span></a> and create a demo Screen</h3>
        <p><ul>
            <li>Add one API like Google Calendar or HTML content that have easy configuration</li>
            <li>Add one Screen with some test display and render this to see your preview</li>
            <li>Add also one WiFi access point (Home or office WiFi)</li>
        </ul></p>

        <h3>2. Get your Hardware gear</h3>
        <p><a href="{{ path('displays-eink') }}#recommended">One E-Ink plus any ESP32</a>. If you want to
        test it fast without wiring just get an E-Ink with ESP32 module like TTGO T5 to easily test it without needing to build it.
        You can skip this point until having one and also try it out without display just on any ESP32</p>

        <h3>3. Download and <a href="{{ path('firmware-idf') }}">compile the Firmware in any Espressif chip</a></h3>

        Our preferred way to do so is to use Espressif IDF framework that is the official way to do it with most options and examples available.
        We understand that it's not everyone cup of tea so there is also an Arduino-ESP32 version available in our Firmware section.

        Make sure to follow the instructions and watch the video to be aware of the configuration. The Firmware needs to be aware of two important things:

        <ul>
            <li>1. Your WiFi credentials</li>
            <li>2. The CALE image URL that you can get from our service once you generate your screen(s) and add some content to them</li>
            <li>3. There is a Bearer token in case you need to make your screen more secure</li>
        </ul>
        </h3>

         It's an easy configuration. It just needs a bit of testing and to get familiar with it.
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}