{% extends 'backend/backend-base.html.twig' %}

{% block body %}
{{ 'subscription_description'|trans }}
<br><br>
<div class="row">
   <div class="col-md-2">
   <b>Subscription status:</b>
   </div>

   <div class="col-md-2">
      {% if (subscription) %}
      <span class="alert-primary">ACTIVE</span>
      {% else %}
      <span class="alert-danger">INACTIVE</span>
      {% endif %}
   </div>
</div>

   {% if (user.paypalEmail != '') %}
<div class="row">
   <div class="col-md-2">
      <b>Paypal Email:</b>
   </div>
   <div class="col-md-2">
      {{ user.paypalEmail }}
   </div>
</div>
      <br>
   {% else %}
      <br>Your Paypal Email is not set. Please <a href="{{ path('b_paypal') }}">configure it here</a> so you can pay your subscription
   {% endif %}

   <br><br>
   PayPal recurring payments will be set with Payum in the next days. Please set the paypal Email and send a <b>3 €</b> payment to <b>martin@cale.es</b> to activate
   your subscription till the end of November 2024. Your account will be credited in the next 6 hrs of receiving the payment.
   {#<a href="{{ path('b_paypal_agreement') }}">Start subscription service</a>#}
   {% endblock %}
