{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
    let api = document.getElementById('api');
    let token = document.getElementById('accessToken');

    api.onchange = function() {
        if (api.value > 1) {
            token.style.visibility = 'visible';
        } else {
            token.style.visibility = 'hidden';
        }
    }
    </script>
{% endblock %}
