{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
<script>
    let apis = JSON.parse('{{ json_apis|raw }}');
    {# console.log(apis); #}
    let api = document.getElementById('api');
    let token = document.getElementById('accessToken');
    let tokenlabel = document.getElementById('accessTokenLabel');

    api.onchange = function() {
        switch (apis[api.value]) {
            case "Authorization code":
            case "Personal access token":
                token.style.visibility = 'visible';
                tokenlabel.innerText = apis[api.value];
                break;
            default:
                token.style.visibility = 'hidden';
                tokenlabel.innerText = '';
        }

    }
</script>
{% endblock %}
