{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}

    <h3>Impressum</h3>
    <p>
        <b>CALE is a screen administrator where you can mix content of different APIs and control the content output</b><br>
    </p>
    <h4>Owner and Data Controller</h4>
    <b>Martin Fasani</b><br>
        Lohmühlenstr. 38<br>
        12435 Berlin, Germany<br>
    <hr>
    Owner contact email: <img src="/assets/svg/martin-email.svg"><br>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}