{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            <ul>

                <li>
                    <h3>
                        Step 1 <a href="{{ path('b_api_configure') }}">Configure your APIs</a>
                    </h3>
                </li>

                <li>
                    <h3>
                        Step 2 <a href="{{ path('b_screens') }}">Setup Screens and content partials</a>
                    </h3>
                </li>

                <li>
                    <h3>
                        Step 3 Preview your screens with your content
                    </h3>
                </li>

                <li>
                    <h3>
                        Step 4 Get an image link that you can use on your connected devices (Coming soon at launch day)
                    </h3>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
