{% extends 'backend/backend-base.html.twig' %}

{# Datatables include let's make this one line #}
{% block stylesheets %}
    <link href="/js/datatables/datatables.css" rel="stylesheet">
    <script src="/js/jquery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/js/datatables/datatables.min.js"></script>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-md-5">
            <p>Click here if you want to understand the sections of the admin for a small on-boarding tour:</p>
            <button class="btn btn-default" onclick="introJs().start();">
                <span class="glyphicon glyphicon-question-sign"></span> Give me an Admin-tour</button>

            <ul>
                <li>
                    <h4>
                        Step 1 <a href="{{ path('b_api_configure') }}">Configure your APIs</a>
                    </h4>
                </li>

                <li>
                    <h4>
                        Step 2 <a href="{{ path('b_screens') }}">Setup Screens and content partials</a>
                    </h4>
                </li>

                <li>
                    <h4>
                        Step 3 Preview your screens with your content and get an image link that you can use on your connected devices
                    </h4>
                </li>
            </ul>


        </div>

        <div class="col-md-7">
            <h4>Screen log</h4>
        {% if (hasScreen) %}

            <input id="autorefresh" type="checkbox" data-toggle="toggle">
                <span class="glyphicon glyphicon-refresh"></span>
            <label id="autorefresh-label" style="font-size: 14px">Auto-refresh</label>

        <table id="screen_log" class="table table-striped table-condensed dataTable" style="border:1px white solid !important">
            <thead><tr></tr></thead>
        </table>
            {% else %}
            {{ 'no_screen_logs_yet'|trans }}
        {% endif %}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        screenLogTable = 'screen_log';
        let refreshes = 0;
        let autorefresh = 0;
        let t;
        let auto = document.getElementById('autorefresh');
        let autoLabel = document.getElementById('autorefresh-label');
        let interval;
    if (isElement(document.getElementById(screenLogTable))) {
        tableScreenLog()
    }

    {# Events . autorefresh does not work without jquery #}
    autoLabel.onclick = function() {
        $('#autorefresh').bootstrapToggle('toggle')
    };
    auto.onchange = function() {
        tableScreenLog()
    };

    function tableScreenLog() {
        var data, tableName = '#screen_log', columns, str,
            jqxhr = $.ajax('{{ path('b_json_datatables', {'type': 'screen_log'}) }}')
                .done(function () {
                    data = JSON.parse(jqxhr.responseText);
                    if (!refreshes) {
                        $.each(data.columns, function (k, colObj) {
                            str = '<th>' + colObj.n + '</th>';
                            $(str).appendTo(tableName + '>thead>tr');
                        });

                    }
                    data.columns[0].render = function (data) {
                        return '<small>' + data + '</small>';
                    };
                    data.columns[3].render = function (data, type, row) {
                        return formatBytes(data);
                    };

                    refreshTable(tableName, data, [[1, 'desc'], [5, 'desc']]);
                })
                .fail(function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    console.log(msg);
                });

        clearInterval(interval);
        if (auto.checked) {
            interval = setInterval( function () {
                tableScreenLog()
            }, 15000 );
        }
    }
    </script>

{% endblock %}
