{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            <ul>

                <li>
                    <h4>
                        Step 1 <a href="{{ path('b_api_configure') }}">Configure your APIs</a>
                    </h4>
                </li>

                <li>
                    <h4>
                        Step 2 <a href="{{ path('b_screens') }}">Setup Screens and content partials</a>
                    </h4>
                </li>

                <li>
                    <h4>
                        Step 3 Preview your screens with your content
                    </h4>
                </li>

                <li>
                    <h4>
                        Step 4 Get an image link that you can use on your connected devices (Coming soon at launch day)
                    </h4>
                </li>
            </ul>
            <p>Click here if you want to understand the sections of the admin for a small on-boarding tour:</p>
            <button class="btn btn-default" onclick="introJs().start();">
                <span class="glyphicon glyphicon-search"></span> Give me an Admin-tour</button>

            <div class="row" style="height: 40px"></div>

            <p>This admin dashboard part is still in development. The idea is to make a full control panel where you can:</p>
            <ul>
                <li>Preview your screens</li>
                <li>See statistics and logs to check that your displays are being updated correctly</li>
                <li>Documentation content about how to install the Firmware and to test it with the Screens generated here</li>
                <li>Quick access to support in case you need help</li>
            </ul>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        introJs().setOption("overlayOpacity", 0.1);
    });
    </script>
{% endblock %}
