{% extends 'backend/backend-base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            <h3>
                Step 1. <a href="{{ path('b_api_configure') }}">Configure your APIs</a>
            </h3>
        </div>

    </div>
{% endblock %}
