
    <div class="row">
        <div class="col-md-6 col-sm-6">
            {{Column_1st|raw}}
        </div>
        <div class="col-md-6 col-sm-6">
            {{Column_2nd|raw}}
        </div>
    </div>