
    <div class="row">
        <div class="col-md-6">
            {{Column_1st.content|raw}}
        </div>
        <div class="col-md-6">
            {{Column_2nd.content|raw}}
        </div>
    </div>