
    <div class="row">
        <div class="col-md-12" style="padding-left:0px">
            {{Header|raw}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6" style="padding-left:0px">
            {{Column_1st|raw}}
        </div>
        <div class="col-md-6 col-sm-6">
            {{Column_2nd|raw}}
        </div>
    </div>
