<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CALE</title>
    {# Bootstrap 3 core CSS #}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/weather-icons.css" rel="stylesheet">
</head>
<body>
<div class="container-flow">
    {% include template %}
</div>
</body>
</html>
