{{daily_summary}}<br>
{{sun}}<br>
{{daily_avg}}

{{hourly_rows}}<br>

<!-- Required by https://darksky.net/dev/docs please do not take out if you use the free version -->
<a href="https://darksky.net/poweredby">Powered by Dark Sky</a>