{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="row" style="margin-top: 40px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Gracias por registrarte en nuestra web</h3>
            <p>A mediados de marzo recibirá un email con instrucciones para entrar a la administración y generar sus pantallas.
                Este es un periodo de pruebas en el que puede entrar y probarlo, aunque aún puede haber errores, esta invitado a experimentar con el sitio.<br>
                Martin
            </p>

            <div style="height: 40px"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}