{% extends '../base.html.twig' %}

{% block body %}
    <div class="row" style="margin-top: 40px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Gracias por registrarte en nuestra web</h3>
            <p>El 1 de Marzo recibiras un email con instrucciones para entrar a la administración y generar tus pantallas.</p>

            <div style="height: 40px"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}