{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="row" style="margin-top: 40px">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <h3>Gracias por registrarse en <span class="cale">CALE</span></h3>
            <p>La version 1.0 esta lista para crear sus pantallas. Chequee la
                <a href="{{ path('apis') }}">sección APIs</a> para ver las que ya están integradas.</p>

            <div style="height: 40px"></div>
            <a class="btn btn-primary" href="{{ path('login') }}">Acceda a la parte de administración</a>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
    <!-- Event snippet for Register an account conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-1065885836/ANM1CO-I08oBEIzBoPwD'});
    </script>

{% endblock %}