{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3>Bienvenidos a CALE</h3>

    <p><b>CALE es una administrador de display que permite mezclar el contenido
            de distintas APIs en tus pantallas</b><br>

    </p>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}