{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-7" style="margin-top: -2em">
        <h3>
            <span class="glyphicon glyphicon-play-circle"></span>
            Como empezar a usarlo
        </h3>

        <h4>1. Registrarse en este sitio y crear una Screen</h4>
        <p>Conectar una API como el Google Calendar o el calendario compartido de Timetree
            que tienen una configuración sencilla. Asocia esta API a tu Screen y configura un display
            de prueba. Prueba de hacer render y ver como se ve. En el Screen config puedes copiar
            dos lineas de configuración que necesitaras para el Firmware en el punto 3.</p>

        <h4>2. Consigue el Hardware para armar uno</h4>
        <p><a href="{{ path('displays-eink') }}#recommended">Necesitas un E-Ink display con cualquier ESP32 o ESP8266</a>.
            Recomendamos el ESP32 por que se pueden configurar periodos de deepsleep mas largos.
            Si quieres probarlo sin soldar un cable también hay modulos de E-Ink que ya vienen con
            un microchip ESP32 como el TTGO T5.</p>

        <h4>3. Baja y compila el Firmware</h4>
        <p><a href="{{ path('firmware') }}">La configuración necesaria para el firmware esta expliada aquí</a>.
        En el Config puedes empezar copiando las dos lineas que salen en el punto 1 al configurar tu Screen.</p>

        <h4>4. Conecte su Epaper display</h4>
        <p>En este último punto cuando el micro ya tiene su clave WiFi, estando conectado correctamente al epaper,
            tendría que arrancar y pedir una imágen a CALE para luego enviar los datos al display.

            Del lado del Web-Service Cale.es pruebe de jugar con el render, agregar
             nuevo contenido dínamico usando APIs, y previsualizarlo en el display. Con las opciones de Render puede
            cambiar parametros como Zoom hasta encontrar la imágen ideal para su pantalla.
            Una vez que este conforme con en el punto 3 puedes decidir cada cuanto tiempo se refresca su pantalla.
        </p>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default" style="margin-top: 1em">
            <div class="panel-heading">Publicidad</div>
            <div class="panel-body">
                {% if adsense_active %}
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Cale vertical -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5919782356383484"
                         data-ad-slot="6845528655"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                {% endif %}
            </div></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>

    {% if adsense_active %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
{% endblock %}