{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}

    <h3>Arquitectura del servidor</h3>

    <h4>Modelo de datos</h4>
<p>Este modelo es solo una referencia para poder agregar cosas sobre esta base.
    Basicamente nos permite tener usuarios, apis y los medios para conectarlas a Screens.<br>
    Como ejemplo podemos tener un API que entrega datos del tiempo, con su respectiva llave de acceso
    guardada en <b>app_user_api</b> pero de esta misma tener distintas configuraciones como el tiempo en Berlin
    y el tiempo en Madrid (<b>app_int_api</b>)<br>
    Estas APIs se agregan como <b>template_partial</b>(s) que refencian las mismas
    y tiran contenido HTML en uno de tus
    <b>screens</b> que a la vez esta asociado a un <b>display</b> donde se guardan las caracteristicas del mismo.
    Entre estas estan los datos de width y height para generar la imagen con la que responde CALE.
    </p>

    <img src="/assets/svg/db-structure-cale.svg"><br>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}