{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="text-center" style="margin-top: -2em">
    <h3>Bienvenidos a <span class="cale">CALE</span></h3>
    <h4>
        <span class="cale">CALE</span> es un administrador que permite mezclar el contenido
        de distintas APIs en tus pantallas con un diseño personalizado
    </h4>

    <h5>Puedes usarlo en tu tablet o en un display WiFi de tinta electronica que cada
        hora se actualiza automaticamente con nuevos contenidos con un consumo de bateria minimo.
    </h5>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <button type="button" class="btn btn-primary form-control" onclick="window.location='{{ path('login') }}'">
                    Login</button>
            </div>
        </div>
        {% if app.environment != 'dev' %}
            <video width="100%" controls autoplay>
                <source src="https://cale.s3.eu-central-1.amazonaws.com/v/c-converts-your-screens.mov">
            </video>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <button type="button" class="btn btn-primary form-control" onclick="window.location='{{ path('login') }}'">
                Login</button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <button type="button" class="btn btn-success form-control" onclick="window.location='{{ path('register') }}'">
                Crea una cuenta</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}