{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }

        #myCarousel .item {
            height: {{ carousel_high }}px;
            width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3>¿Que es CALE?</h3>

    <p><b>CALE es un administrador de display donde puedes mezclar contenidos de distintas fuentes externas (APIs)</b><br>

        Estos contenidos se pueden componer en la forma y el orden que tu decidas, con la posibilidad de exportarlos como una imagen BMP.
        Esta imagen puede leerse desde displays WiFi con un microprocesador ESP32 o ESP8266. La cualidad interesante de estas pantallas es que
        consumen muy poca bateria ofreciendo una resolución muy buena. <br>
        No solo se puede mostrar en una pantalla tipo E-Ink, con el enlace que se genera de tus pantallas, puedes verlo también en tu tablet o ordenador de
        escritorio.

        Si le interesa probar el Firmware esta disponile para ESP32 y <a href="{{ path('displays') }}">estos son los displays soportados por la libreria gxEPD</a>.
    </p>
    <video width="100%" controls>
  <source src="/assets/video/cale-1.mov">
  </video>
    <h3>Tinta electronica o E-Ink</h3>
    <p>El término técnico es tinta electroforética. Es una tinta que esta laminada entre dos plasticos muy finos con una matriz electrónica, formando lo que se llama
        un display de Papel electrónico (EPD por sus siglas en ingles)
        Estos displays vienen con una interfaz para de comunicación, el Bus SPI (del inglés Serial Peripheral Interface), que usa para transferir datos desde el microchip ESP32/ESP8266.
        Este micro hace el trabajo de conectarse al WiFi y traer la imagen actualizada, para luego enviarla usando SPI al display, luego se queda dormido gastando la miníma bateria posible
        hasta la proxima actualización.
    </p>
    <div class="row">
        <div class="col-md-6">
            <b>El Eink esta echo de millones de micro particulas de tinta</b><br>
            <img src="/assets/svg/eink-1.svg" width="199"><br>
            Que tienen el diametro de un pelo humano.  Cuando se aplica un campo electrico opuesto al del color negro, esta tinta sube a la superficie.
        </div>
        <div class="col-md-6">
            <b>Cada micro-capsula contiene particulas cargadas con electricidad</b><br>
            <img src="/assets/svg/eink-2.svg" width="199"><br>
La a tinta crea una imagen que se puede ver sin necesidad de retro-iluminarla.
            Y esta imagen queda impresa en el display aunque desconectemos la bateria.
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="./js/engine/common.js"></script>
{% endblock %}