{% extends '/base.html.twig' %}
{% set bmp_800_demo = 'https://img.cale.es/bmp/cale_www/5f927722b40d9' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="text-center" style="margin-top: -2em">
        <h3><span class="cale">API Mashup creador de displays WiFi</span></h3>
        <h2 style="text-weight:bold">
            CALE.es esta a la venta en <a href="https://sedo.com/search/?keyword=cale">sedo</a>.
        </h2>
        <h4 style="text-weight:bold">
            Si esta interesado en este dominio puede realizar su oferta a traves de SEDO o contactarme por email a martin AT cale.es<br>
            Sentimos las molestias ocasionadas por este cierre de operaciones.<br>
            Le recomendamos usar el servicio de nuestros amigos en <a href="https://usetrmnl.com">TRMNL</a> a partir de ahora.
        </h4>
        <img src="https://img.cale.es/jpg/carlosfasani/5e5ab5953a441" alt="SCD40 sensor data chart">
        <small>SCD40 temperatura ambiente, humedad y CO2. Arenys d'Mar</small><br>



    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
    <script type="text/javascript" src="/js/tracking/analytics-html5-video.js"></script>
    <script>
        var videoId = document.getElementById('index')
        if (videoId) {
            document.addEventListener('DOMContentLoaded', init, false)
            var videoTitle = videoId.getAttribute('title')
        }
    </script>
{% endblock %}