{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-12" style="margin-top: -2em">
        <h3>
            <span class="glyphicon glyphicon-play-circle"></span>
            Como empezar a usarlo
        </h3>

        <h4>1. Registrarse en este sitio y crear una Screen</h4>
        <p>Conectar una API como el Google Calendar o el calendario compartido de Timetree
            que tienen una configuración sencilla. Asocia esta API a tu Screen y configura un display
            de prueba. Prueba de hacer render y ver como se ve. En el Screen config puedes copiar
            dos lineas de configuración que necesitaras para el Firmware en el punto 3.</p>

        <h4>2. Consigue el Hardware para armar uno</h4>
        <p><a href="{{ path('displays-eink') }}#recommended">Necesitas un E-Ink display con cualquier ESP32 o ESP8266</a>.
            Recomendamos el ESP32 por que se pueden configurar periodos de deepsleep mas largos.
            Si quieres probarlo sin soldar un cable también hay modulos de E-Ink que ya vienen con
            un microchip ESP32 como el TTGO T5.</p>

        <h4>3. Baja y compila el Firmware</h4>
        <p><a href="{{ path('firmware') }}">La configuración necesaria para el firmware esta expliada aquí</a>.
        En el Config puedes empezar copiando las dos lineas que salen en el punto 1 al configurar tu Screen.</p>

        <h4>4. Encienda CALE</h4>
        <p>En este último punto ya tendría que poder encender su cliente de E-Ink
            y debería estar online pidiendo una imágen a CALE. Pruebe de jugar con el render, agregar
            nuevo contenido dínamico usando APIs, y pruebe de ver como se ve. En el Render puede
            cambiar parametros como Zoom hasta encontrar la imágen ideal para su pantalla.
            Una vez que estes conforme en el punto 3 puedes decidir cada cuanto se refresca su pantalla.
        </p>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}