{% extends '/base.html.twig' %}
{% set carousel_high = 110 %}

{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <h3>Nuestro compromiso de transparencia</h3>

   <p><b>En <span class="cale">CALE</span> podemos realmente asegurar que este sitio esta programado de forma transparente y
           trata tus datos con privacidad.</b><br>
       Cuando vemos casos como Facebook–Cambridge Analytica y lo irresponsable que pueden ser algunas compañías
       con nuestros datos personales nuestro compromiso es mostrar como este sitio esta hecho con total transparencia.

       No hay recolección de datos personales a ningún nivel.  Solo una cookie para mantener la sesión cuando haces login o cambias de idioma.
       No hay registro de las acciones del Admin, ni remarketing, login con Facebook o sitios de terceros, ni pixels de tracking de ningún tipo en CALE.<br>

       Las APIs que tú conectas son tuyas y solo tuyas, tienes el control permanente de quitarlas, en cualquier momento sin nuestra interferencia.
       Incluso quitar tu cuenta de usuario y todos los datos relacionados en un solo paso
       sin dejar ningún rastro de tus datos personales en nuestro servidor.<br><br>

<b>Si tienes alguna duda de:</b><br>
   <ul>
    <li>Sobre como son tratados mis datos personales</li>
    <li>Como están cifrados los passwords</li>
    <li>Donde se configuran mis APIs y cuales datos son usados para acceder a ellas</li>
   </ul>
   </p>
    <p>El código fuente de este sitio y su parte de administración detrás del login está disponible aquí:</p>
    <h3><a href="https://github.com/martinberlin/cale-integrations">https://github.com/martinberlin/cale-integrations</a></h3>

    <h3>Este es nuestro sello de transparencia</h3>
    <h4>Cualquier actualización que hacemos en este sitio, proviene de alli,
        y todo<br>
        el código que hace funcionar a <span class="cale">CALE</span> es código abierto si quieres analizarlo.
    </h4>

    <p>Si encuentras cualquier parte que pueda poner tus datos en riesgo,
        o un fallo que no hayamos detectado, ponte en contacto con nosotros y lo solucionaremos lo mas pronto posible.
La página que lees ahora esta
        <a href="https://github.com/martinberlin/cale-integrations/tree/master/templates">en este directorio con el nombre de www-built-transparently.html.twig</a>
    </p>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}