<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CALE</title>
    {# Bootstrap 3 core CSS #}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{{last_update}}
<div class="container-flow" style="margin-left: 2em">
    <div class="row">
        <div class="col-md-12">
        {{Column_1st}}
        </div>
    </div>
</div>

</body>
</html>
