{{ body|raw }}

<small>You are receiving this Email since you are registered at CALE. If you want to stop receiving communications from us
    <a href="https://cale.es/backend/user/profile">please log in and opt out here</a></small><br><br>
- Martin Fasani<br>
<img src="{{ host }}/assets/cale-logo.png" width="150">