<h3>CALE</h3>

Please click on this link to reset your password:<br>

<a href="{{ token_link }}">
    {{ token_link }}</a>

<br>If you didn't request this please delete and forget.
<br>This is an automatically sent Email. Please don't reply!<br>


<br>Enjoy and keep tuned,<br>

<small>The server administrator robot</small><br>
<img src="{{ host }}/assets/cale-logo.png" width="150">