{% extends 'base.html.twig' %}

{% set carousel_high = 110 %}
{% block stylesheets %}
    <style>
        #myCarousel.carousel {
            height: {{ carousel_high }}px;
        }
        #myCarousel .item {
            height: {{ carousel_high }}px; width: 100%;
            background-color: #333;
        }
    </style>
{% endblock stylesheets %}

{% block carousel %}
    {% include "partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">
    <p>Please enter a new password.</p>
    {{ form_start(form) }}
    {{ form_end(form) }}
    </div>
    </div>

{% endblock %}