{% extends '/base.html.twig' %}

{% block carousel %}
    {% include "/partials/carousel.html.twig" %}
{% endblock carousel %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -2em">
        <h2>
            <span class="glyphicon glyphicon-calendar"></span> iCal
        </h2>
        <p><b>The Internet Calendaring and Scheduling Core Object Specification (iCal) allows users to store and exchange
                calendar information like events, to-do, journal entries and free/busy information</b></p>
        <p>
            The files usually have the extension <b>ics</b> and are served by an external URL protected by username/password.
            CALE supports reading in real time any iCal file to render your events. The API is still in an early stage and
            does not offer multi-template options but it will soon be updated to the next level.
        </p>
        <br>
        iCalendar is used and supported by many products, including:<br><br>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul>
                    <li>Google Calendar</li>
                    <li>Lotus Notes</li>
                    <li>Microsoft Outlook</li>
                    <li><a href="https://luckycloud.de" target="_blank">Luckycloud</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul>
                    <li>Hotmail Caledar</li>
                    <li><a href="https://addons.thunderbird.net/en-US/thunderbird/addon/lightning/" target="_blank">Lightning</a> para Mozilla Thunderbird</li>
                    <li>Mozilla Calendar</li>
                    <li>y muchos más...</li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/engine/common.js"></script>
{% endblock %}