<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}CALE Screen{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container-flow" style="margin-left: 2em">

    {% block body %}{% endblock %}

</div>
</body>

</html>
